* {
    box-sizing: border-box;
}

body {
    font-family: "SUSE", sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Set the pattern as the background */
    background-color: #fff;
    background-image: 
    linear-gradient(to right, #F77F00 1px, transparent 1px),
    linear-gradient(to bottom, #F77F00 1px, transparent 1px);
    background-size: 50px 50px;
  /* Makes the pattern cover the entire page and stay fixed on scroll */
    background-attachment: fixed;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    color: #333;
}